<template>
    <d-modal v-if="showModal" @close="handleClose" class="modal-index">
        <d-modal-header>
            <d-modal-title>{{ title }}</d-modal-title>
        </d-modal-header>
        <d-modal-body>
            <slot name="body" />
        </d-modal-body>
        <!-- <d-modal-footer>
            <slot name="footer" />
        <d-modal-footer/> -->
    </d-modal>
</template>
<script>

export default {
    props: {
        title: {
            type: String,
            default: ''
        },
        show: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            showModal: false,
        }
    },
    methods: {
        handleClose() {
            this.showModal = false;
            console.log('from modal>>>>', this.showModal)
            this.$emit('closeModal', false);
        }
    },
    watch: {
        show: function(val) {
            this.showModal = val;
            console.log('watch modal', val)
        }
    }
}
</script>
