.date-range .vdp-datepicker {
  max-width: 150px;

  input {
    font-size: .6875rem !important;
    text-align: center;
  }
}
.aliansi-button {
  button{
    &:first-child {
      margin-right: 8px;
    }
  }
}
.btn-outline-purple {
  background: #7149C6;
  color: #fff;
  &:disabled{
      color: #000;
      background: #c1a4ff;
  }
  &:hover {
    background: #7e5aca;;
    color: #fff;
  }
}
.header-table {
  position: relative;
  .text-right {
      position: absolute;
      right: 15px;
      bottom: 15px;
  }
}
.modal-index {
  z-index: 99999!important;
}
.modal-body {
  padding: 15px!important;
}
.swal2-container {
  z-index: 9999!important;
}
.btn-accent {
  &:disabled{
    color: #000;
    background: #7149C6!important;
  }
}

.VuePagination  {
  .page-link {
    color: #212529!important;
  }
  
  .page-item.active .page-link {
    color: #fff!important;
    background-color: #c00434!important;
    border-color: #c00434!important;
  }
  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #c00434!important;
    border-color: #c00434!important;
  }
  .page-link:hover, .page-link:focus {
    color: #c00434!important;
    background-color: #f5f5f6;
    border-color: #dfe1e3;
  }
  
  .VuePagination__count {
    display: none!important;
  }
}


